body {
    background-color: rgb(243, 230, 0);
  }
  
  h1 {
    color: rgb(33, 32, 32);
    text-align: center;
  }
  
  p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;    
  }

.centerer{

}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 20px;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
  padding: center;
  
}

.item-flex{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 5px;
  
}

