body {
    background-color: rgb(255, 234, 0);
  }
  
  h1 {
    color: rgb(33, 32, 32);
    text-align: center;
  }
  
  p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;

    
  }

  .column {
    float: left;
    width: 25%;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }