body {
    background-color: rgb(243, 230, 0);
  }
  
  h1 {
    color: rgb(33, 32, 32);
    text-align: center;
  }
  
  p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;    
  }

.grid-container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px
}

.grid-item{
  padding: 40px;
}

.item{
  height: 600px;
  background-color: rgba(52, 49, 49, 0.599);
border-radius: 5px;
}

.flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}